<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Details</h2><br>
                    <div>
                        <label for="">Address</label>
                        <textarea name="address" id="" cols="25" rows="7" class="form-control"></textarea>
                        <label for="">Pincode</label>
                        <input type="text" class="form-control" name="pincode">
                        <label for="">Mobile</label>
                        <input type="text" class="form-control" name="mobile">
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4 mt-auto p-2">

                    <div class="container border border-2 p-5 mx-5 me-5">
                        <h5>Total amount : Rs.{{total}} </h5>
                        <hr>
                        <div class="payment">
                            <p>Payment method</p>
                            <label for="" class="radio-inline">
                                <input type="radio" name="payment-method" id="" value="COD">COD
                            </label>
                            <label for="" class="radio-inline" style="margin-right: 8.5rem;">
                                <input type="radio" name="payment-method" id="" value="online">Online Payment
                            </label>
                            <button class="btn btn-primary float-end" type="submit">checkout</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

</section>

<script>

    $('#checkout-form').submit((e) => {
        e.preventDefault();
        var form = $('#checkout-form').serialize();
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: form,
            success: (response) => {
                if (response.codsuccess){ 
                    location.href = '/order-success';
                } else {
                    razorpayPayment(response);

                }
            }
        })
    })
    function razorpayPayment(order) {
        console.log('razorpayPayment called with order:', order);
        console.log("order:",order);
        var options = {
            "key": "rzp_test_6QKy6Rc5KSWF6v", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Mycart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "sudeep",
                "email": "sudeep@gmail.com"
                
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
                
            },
            method:'post'
        })
    }



</script>